.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
} 

.table{
    table-layout: fixed;
    width: 100%;   
}

.table tr{
    padding: 10px;
    font-size: 12px;
}

.table th , .table td{
    border: 1px solid #ddd;
    padding : 10px;
}

.dropdown{
    display: flex;
    align-items: center;
}

.dropdown li{
    list-style: none;
    padding: 10px;
    
}

.button{
    border-radius: 2px;
    padding: 2px 3px;
    background: #333;
    color: white;
    margin: 10px;
}
