.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    background: #E7E9EB
} 


.dropdown{
    display: flex;
    align-items: center;
}

.dropdown li{
    list-style: none;
    padding: 10px;
    
}

.button{
    border-radius: 2px;
    padding: 2px 3px;
    background: #333;
    color: white;
    margin: 10px;
}

.pagination li{
    background: black;
    text-decoration: none;
    list-style: none;
}


  