.table{
    height: 80px;
    width: 100%;
}

.table td { overflow: hidden; }

.table tr{
    padding: 10px;
    font-size: 12px;
    height: 20px;
    overflow: hidden;
}

.table th , .table td{
    border: 1px solid #ddd;
    padding : 10px;
}

  th, td {
    padding: 15px;
    text-align: left;
  }

  tr:nth-child(even) {background-color: #E7E9EB;}

  .table tr:hover{
      background: #4CAF50;
      color: white;
  }